
:root {
    --headerbg: #FFFDE8;

    --menulink: #0D5D70;
    --menulinkbg: #FFFEF4;
    --menulinkvisited: #162636;
    --menulinkvisitedbg: #D67200;
    --menulinkhover: white;
    --menulinkhoverbg: #0D5D70;

    --breadcolor: #162636;

    --bgcolor: #FFFFFF;
    --txtcolor: #000000;
    --contentbgcolor: ;
    --contentcolor: ;
    --linkcolor: ;
    --visitedcolor: #E36600;
    --blocks: #548E9C;
}



header {
    padding: 0.7em 0.5em;
    background-size: 12em;
}


#breadcrumb {
    font-size: 0.9em;
}


 /*
================
CONTENUTO
================
*/

main h1 {
    font-size: 2.3em;
}

#menu_content{
    position:static;
    float: none;
    width: auto;
    padding-left: 5%;
    margin-bottom: 1em;
}


section {
    padding: 1em 1.5em 4em;
    margin: 0;
    margin-bottom: 1em;
    
}


article div{
    padding: 0.5em 0em 1em 0em;
}


section h2, article h2{
    font-size: 1.5em;
    margin-bottom: 0.5em;
}


main{
    margin-bottom: 0em;
}

#up{
    padding-top: 3em;
    margin: -3.5em 0.5em 2em 0em;
    background-image: url("icons/torna_su.svg");
    background-size: 3em;
    background-repeat: no-repeat;
    background-position: top;
    float: right;
}



/*
================
HOME
================
*/

.description {
    display: none;
}

.mini_desc {
    display: block;
}

#intro_text {
    display: none;
}

#quattro {
    display: none;
}

#info {
    display: none;
}

.grid_container {
    display: none;
}

#uni, #lav, #ris_int, #ris_est {
    background-color: #0D5D70;
    min-height: 100px;
}

.block_one, .block_two {
    padding: 2em;
    margin: 1em;
}

.link {
    text-align: center;
}

/*
================
ESPLORA CORSI
================
*/

.invito {
    margin: 3em 3%;
    margin-left: 3%;
}

#stem p, #sanita p, #arte p, #economia p {
    padding: 2em 1em 2em 1em;
    text-decoration: underline;
}

#filtro fieldset {
    margin: 3% 5% 0% 5%;
}

#filtro label {
    display: block;
}

/*
================
GRUPPI DISCIPLINARI
================
*/

.group_container {
    margin: 0.5em;
}

/*
================
CLASSE DI LAUREA
================
*/

#identikit_corso {
    display: block;
    padding: 1.5em;
    margin: 0%;
}

#dettagliClasse {
    font-size: 1.2em;
    margin-bottom: 2em;
}

#corsi {
    margin: 2em 0% 2em 0%;
}

#corsi li {
    list-style: disc;
    margin-bottom: 1em;
}

#listaCommenti {
    margin: 2em 0.5em 2em 0.5em;
}

.select{
    width: 80%;
}

/*
=================================================
OBIETTIVO LAVORO
=================================================
*/

#scenari li{
    padding: 0.5em 0;
    font-size: 1em;
}

#success {
    background: url('css_images/successo.png') bottom right no-repeat;
    background-size: 10em;
}

#success p{
    padding: 0em 0.8em 1em;
    margin-right: 0;
    margin-bottom: 5em;
}

#progress {
    background: url('css_images/studio_continuo.png') bottom right no-repeat;
    background-size: 6.5em;
}

#progress p{
    padding: 0em 0.8em 1em;
    margin-bottom: 5em;
    margin-right: 0em;

}

#lost {
    background: url('css_images/rinuncia.png') bottom right no-repeat;
    background-size: 5.8em;
}

#lost p{
    padding: 0em 0.8em 1em;
    margin-bottom: 5em;
    margin-right: 0em;
}


#nota {
    margin: 1em 0;
    padding: 0.5em;
    padding-left: 0;
    padding-top: 5em;
    background-size: 4em;
    background-position: top;
    text-align: center;
}

#job_checklist #nota {
    font-size: 0.9em;
}


#external_resources li {
    margin: 1em 0.5em 0.5em; 
    padding: 1em; 
}



img[src="images/almalaurea.png"]{
    width: 45%;
}

img[src="images/atlanteProfessioni.svg"]{
    width: 45%;
}


/*
===========================================================================================================================
LA SCELTA GIUSTA PER TE
===========================================================================================================================
*/


#introduzione {
    padding-bottom: 0;
    margin-bottom: 0em;
    background-position: top;
    background-size: 100%; 
}

#introduzione_text{
    background-image: none;
    padding-top: 70%;
}

#quest_link{
    margin: em 0;
}



#step_list h3{
    font-size: 1.1em;
}

#step_list>li{
    font-size: 0.9em;
    margin-bottom: 3em;
}



.importante{
    font-size: 1em;
}

.quote {
    padding: 0.5em;
    margin: 1em 1.2em;
    font-size: 0.9em;
}

.quote em{
    font-size: 1em; 
}

#step_list li>ul li{
    font-size: 1em;
} 

img[src="css/css_images/struzzo.png"]{
    width: 50%;
    height: auto;
    margin: 0em 20% 1em;
    border-radius: 20px;
}

.motivational{
    margin: 0.5em 0em 0;
    font-size: 1.5em;
}


/******************************************************************************************************************************************
QUESTIONARIO
*****************************************************************************************************************************************/


.questionnaire {
    margin: 0%;
}

.questionnaire nav{
    margin-left: 0%;
    margin-top: 10%;
}

.questionnaire a:link{
    margin: 0.2em;
    padding: 0.4em;
    width: 120px;
    height: 32px;
    font-size: 1em;
}

.questionnaire button{
    margin: 0.5em;
    padding: 0.7em;
    width: 130px;
    height: 55px;
    font-size: 1em;
}

#best_choice{
    height: 35px;
    padding-top: 0.9em;
}

#questions .section_content h2{
    font-size: 2.5em;
    margin-left: 0em;
    text-align: right;
}

#questions dt,#questions dd, .txt{
    margin:0em -1.5em;
    padding-left: 0.5em;
}

#questions dt{
    padding: 1em;
    margin: 1em -1em 0em;
}

#questions dd{
    margin: -1em -1.5em 0.5em;
}

.txt{
    padding: 1em;
}

.pag{
    width: 70px;
}
  
  #end h2{
    margin-top: 0;
  }

/*
================
UNIVERSITA' E INCLUSIONE
================
*/

#uni_inc{
    padding-right: 30%;
}

aside #nota{
    text-align: left;
    font-size: 0.95em;
}


#barriere{
    margin: 0.5em 0;
}


#fis+.problem{
    background-image: linear-gradient(to bottom, rgba(255, 165, 0,0.7), rgba(214, 114, 0,1));
}

#fis+.problem+.solution{
    background-image: linear-gradient(to bottom,rgba(13, 93, 112,0.7), rgba(22, 38, 54,1));
}

#eco+.problem{
    background-image: linear-gradient(to bottom, rgba(255, 165, 0,0.7), rgba(214, 114, 0,1));
}

#eco+.problem+.solution{
    background-image: linear-gradient(to bottom,rgba(13, 93, 112,0.7), rgba(22, 38, 54,1));
}

#psi+.problem{
    background-image: linear-gradient(to bottom, rgba(255, 165, 0,0.7), rgba(214, 114, 0,1));
}

#psi+.problem+.solution{
    background-image: linear-gradient(to bottom,rgba(13, 93, 112,0.7), rgba(22, 38, 54,1));
}

#soc+.problem{
    background-image: linear-gradient(to bottom, rgba(255, 165, 0,0.7), rgba(214, 114, 0,1));
}

#soc+.problem+.solution{
    background-image: linear-gradient(to bottom,rgba(13, 93, 112,0.7), rgba(22, 38, 54,1));
}



/**************************************************************
Parità di genere
**************************************************************/

#women_voices{
    display: none;
}

/*
================
REGISTRAZIONE
================
*/

#registrazione fieldset > span {
    padding-right: 5%;
}

/*
================
AREA UTENTE
================
*/

.titles_UtenteClasse {
    padding: 0.5em;
    margin: 1.3em 10% 1.3em 10%;
    font-size: 1.2em;
    line-height: 1.3em;
}

.formdesc {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
}

#container_info, .container_iscrizione {
    display: block;
    margin: 3%;
}

#form_cancellacomm, #form_aggiungicomm {
    padding: 0em;
    margin: 3%;
}

.container_daticomm {
    display: block;
}

.blocco_commento {
    margin: 1em 2% 1em 2%;
}

#container_aggiungi {
    display: block;
}

#selectclass, #selectcorso {
    margin: 0% 2% 0% 2%;
}

/*
================
AREA ADMIN
================
*/

#formTrovaCommenti, #formCorsi, #form_passw {
    padding: 0em;
    margin: 3%;
}