
:root {
    --headerbg: #FFFDE8;

    --menulink: #0D5D70;
    --menulinkbg: #FFFEF4;
    --menulinkvisited: #162636;
    --menulinkvisitedbg: #D67200;
    --menulinkhover: white;
    --menulinkhoverbg: #0D5D70;

    --breadcolor: #162636;

    --bgcolor: #FFFFFF;
    --txtcolor: #000000;
    --contentbgcolor: ;
    --contentcolor: ;
    --linkcolor: ;
    --visitedcolor: #E36600;
    --blocks: #548E9C;
}


header{
    padding-right: 20%;
}

/*
=================================
MENU
=================================
*/




 /*
================
CONTENUTO
================
*/

main h1 {
    font-size: 1.5em;
}

section {
    padding: 7%;
}

/*
================
HOME
================
*/


/*
================
ESPLORA CORSI
================
*/




/*
================
OBIETTIVO LAVORO
================
*/

section > h2 {
    margin-right: 0%;
}

/*
================
REGISTRAZIONE
================
*/

#registrazione fieldset > span {
    padding-right: 5%;
}

/*
================
AREA UTENTE
================
*/

.formdesc {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    font-style: italic;
}

#container_info, .container_iscrizione {
    display: block;
    margin: 3%;
}

#form_cancellacomm, #form_aggiungicomm {
    padding: 0em;
    margin: 3%;
}

.container_daticomm {
    display: block;
}

.blocco_commento {
    margin: 1em 2% 1em 2%;
}

#container_aggiungi {
    display: block;
}

#form_passw {
    margin: 3%;
}