* {
    padding: 0em;
    margin: 0em;
}

:root {
    --bgcolor: ;
    --breadcolor: ;
    --txtcolor: ;
    --contentbgcolor: ;
    --contentcolor: ;
    --linkcolor: ;
    --visitedcolor: ;
}

/*
================
HEADER
================
*/

/*
================
BREADCRUMB
================
*/

/*
================
MENU
================
*/

/*
================
GLOSSARIO
================
*/

/*
================
CONTENUTO
================
*/

/*
================
HOME
================
*/

/*
================
ESPLORA CORSI
================
*/

/*
================
OBIETTIVO LAVORO
================
*/

/*
================
LA SCELTA GIUSTA PER TE
================
*/

/*
================
UNIVERSITA' E INCLUSIONE
================
*/