* {
    padding: 0em;
    margin: 0em;
}

:root {
    --headerbg: #FFFDE8;

    --menulink: #0D5D70;
    --menulinkbg: #FFFEF4;
    --menulinkvisited: #162636;
    --menulinkvisitedbg: #D67200;
    --menulinkhover: white;
    --menulinkhoverbg: #0D5D70;

    --breadcolor: #162636;

    --tittlebg: #0D5D70;
    --bgcolor: #FFFFFF;
    --txtcolor: #000000;
    --contentbgcolor: ;
    --contentcolor: ;
    --linkcolor: ;
    --visitedcolor: #E36600;
    --blocks: #548E9C;
}

html,body{
    font-size: 100%; /* Lascio libertà all'utente*/
    font-family: "Verdana",sans-serif;
    line-height: 1.5em;
    margin:auto;
    background-color: var(--bgcolor);
    color:var(--txtcolor);
    scroll-behavior: smooth;
}

.error {
    color: red;
}

/*
body {
    max-width: 1200px;
}
*/

/* Rimuovo dalla vista gli aiuti alla navigazione*/
.skip {
    position: absolute; /* per evitare gli spazi */
    text-indent:-999em;
    text-align: left;
}

/*
================
HEADER
================
*/

header {
    color: var(--txtcolor);
    text-align: left;
    padding: 1em;
    padding-top: 0.7em;
    padding-bottom: 2em;
    border: 1px;
    background-color: var(--headerbg); 
}


/*
================
BREADCRUMB
================
*/

#breadcrumb {
    background-color: var(--breadcolor);
    color: #FFFFFF;
    font-size: 1.1em;
    padding: 0.8em 0em 0.8em 1em;
    margin-bottom: 1em;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

#breadcrumb a:link{
    padding: 0.5em;   
    color: var(--menulinkbg);
    font-variant: small-caps;
}

#breadcrumb a:visited{
    color: var(--menulinkvisitedbg);
}

#breadcrumb a:hover{
    color: orange;
    font-variant: normal;
    text-decoration: none;
}

/*
================
MENU
================
*/
#hamburger-menu, #menu label {
    display: none;
}


header > ul{
    list-style: none;   
}

#menu {
    font-size: 1.1em;
    background-color: var(--headerbg);
}

#menu a:link{
    text-decoration: none;
    color: var(--menulink);
    background-color: var(--menulinkbg);
    font-variant: small-caps;
} 

#menu a:visited {
    background-color: var(--menulinkvisitedbg);
    color: var(--menulinkvisited);
}

#menu a:hover {
    background-color: var(--menulinkhoverbg);
    color: var(--menulinkhover);

}

#menu>ul>li>a:link, #menu>ul>li>a:visited, #menu>ul>li>a:hover { /*impostazioni specifiche per primo livello del menù*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: -5px -5px 5px rgba(22, 38, 54, 0.25);
    padding: 0.75em;
    padding-bottom: 0.95em;
}

/*Creo Dropdown per il sotto menù*/

#menu li {
    display: inline-block;   
}

.sottomenu {
    position: relative;
}

.sottomenu-content { /* Nascosto */
    position: absolute;
    text-indent: -99999em; /*uso text-indent per screen reader*/
    background-color: var(--headerbg);
    margin: 0.8em 0em;
    z-index: 1;
    box-shadow: -15px 15px 5px rgba(0, 0, 0, 0.25);
}
.sottomenu-content a{
    display: block;
    width: 14em;
    padding: 0.5em;
    border-top: #162636 0.5px solid;
}

.sottomenu:hover .sottomenu-content, li:focus-within .sottomenu-content { /* Mostra al passaggio del mouse o al tab da tastiera*/
    text-indent: 0em;
}

.sottomenu:hover .arrow, li:focus-within .arrow { /* Mostra al passaggio del mouse o al tab da tastiera*/
    transform: rotate(180deg);
}

/* Pagina corrente e sezione con sottomenù*/

#currentlink {
    font-size: 1.2em;
    padding: 0.8em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--breadcolor);
    color: #FFFDE8;
}

#currentOverLink {
    font-size: 1.2em;
    padding: 0.8em 0em;
}

#visible-sottomenu {
    position: relative;
    z-index: 1;
    background: #D67200; /* se browser non supporta linear-gradient*/
    background: linear-gradient(to bottom, orange, #D67200);
}

#visible-sottomenu ul{
    padding: 2em;
    margin-left: 10%;
    
}
#visible-sottomenu li{
    display: inline;
    padding-right: 1.2em;
    font-size: 1.1em;
}

#visible-sottomenu a {
    text-decoration: none;
}

#visible-sottomenu a:link{
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: -5px -5px 4px rgba(0, 0, 0, 0.25);
    color: var(--menulink);
    background-color: var(--menulinkbg);
    font-variant: small-caps;
}

#visible-sottomenu a:visited{
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: -5px -5px 3px rgba(0, 0, 0, 0.25);
    color: var(--menulinkvisited);
    background-color: var(--menulinkvisitedbg);
}

#visible-sottomenu a:hover{
    box-shadow: -5px -5px 3px rgba(0, 0, 0, 0.25);
    color: var(--menulinkhover);
    background-color: var(--menulinkhoverbg);
}

#visible-sottomenu #currentSubLink {
    padding-right: 1.2em;
    color: #162636;
    font-size: 1.3em;
    
}


/*
================
404
================
*/

#error_page div{
    background: #162636 url(css_images/festa.jpg) 85% no-repeat;
    background-size: cover;
    padding: 0% 5% 2.5% 5%;
    margin-bottom: 2%;
}

#error_page h1{
    max-width: 1024px;
    color: #FFFFFF;
    margin-bottom: 1.5%;
    font-size: 3em;
    line-height: 1.5em;
    padding-top: 2.5%;
    padding-bottom: 0%;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.26);
    text-align: center;
}

#error_page p{
    color: #fff;
    padding-top: 0.5%;
    padding-bottom: 2.5%;
    font-size: 1.5em;
    line-height: 1.5em;
    max-width: 1024px;
    text-align: center;
    margin-left: 5%;
}

#error_page a{
    transition: all .2s ease-in-out;
}

#error_page a:link{
    color: #162636;
    background-color: #fff;
    font-size: 1.2em;
    padding: 2%;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: inset 5px -10px 16px rgba(0, 0, 0, 0.25);
}

#error_page a:hover{
    transform: scale(1.02); /*non funziona perché?*/
    background-color: rgba(22, 38, 54, 0.2);
    border: #fff 2px solid;
    color: #fff;
}

#error_page a:visited{
    background-color: #162636;
    color: #E36600;
}



/*
================
CONTENUTO
================
*/

main h1{
    color: #FFFFFF;
    margin-bottom: 1.5%;
    font-size: 3.8em;
    line-height: 1.5em;
    padding-left: 7%;
    padding-top: 2.5%;
    padding-right: 5%;
    padding-bottom: 7%;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.26);
}

section, article {
    padding: 2% 35% 5% 8%;
    margin-bottom: 0.9em;
}

section>h2, article>h2 {
    color: #FFFFFF;
    background-color: #0D5D70;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /*padding: 1.3em;*/
    padding: 4% 6%;

    margin-top: -10%;
    margin-right: -35%;
    margin-left: -6%;
    margin-bottom: 1.05em;

    font-size: 1.8em;
    line-height: 1.5em;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.26);
}

section p, article p, section li, article li{
    font-size: 0.9em;
}

ol>li{
    font-size: 1em;
}

section li, article li{
    margin-left: 5.5%;
    margin-right: 5.5%;
    margin-bottom: 0.5em;
}

section>ol, article>ol {
    background-color: #FFFDE8;
    box-shadow: 1px 15px 19px 6px rgba(0,0,0,0.26);
    padding: 1.5em;
    padding-left: 3em;
    margin: 2em;
}

ol+p, dl+p{
    margin-top: 4em;
}

/*
section>ul, article>ul {
    padding-left: 2em;
    margin-top: 0.5em;
}*/


/*
================
HOME
================
*/

#intro {
    background: #0D5D70 url(css_images/faro_3.jpg) 85% no-repeat;
    background-size: cover;
    padding-left: 10%;
    padding-top: 2%;
    padding-right: 5%;
    padding-bottom: 2%;
}

#intro h1{
    color: #FFFFFF;
    padding: 0%;
}

#intro_text { 
    background-image: linear-gradient(to right, rgba(13,93,112,0.8), rgba(13,93,112,0.5));
    margin-right: 20%;
    margin-left: -1.5em;
    padding: 1.5em;    
    border-radius: 10px;

    color: #FFFFFF;
    font-size: 0.9em;
}

#quattro {
    text-align: center;
    line-height: 1.4em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2em;
}

#info {
    text-align: center;
    padding: 0em 3em 0em 3em;
    margin: 0% 15% 0% 15%;
}

#item1 {
    grid-area: a;
    justify-self: center;
    font-variant: small-caps;
    font-size: 1.4em;
}

#item2 {
    grid-area: b;
    justify-self: start;
    font-variant: small-caps;
    font-size: 1.4em;
}

#item3 {
    grid-area: c;
    max-width: 100%;
    justify-self: center;
}

#item4 {
    grid-area: d;
    justify-self: end;
    font-variant: small-caps;
    font-size: 1.4em;
}

#item5 {
    grid-area: e;
    justify-self: center;
    font-variant: small-caps;
    font-size: 1.4em;
}

.grid_container {
    display: grid;
    grid-template-columns: 4.2fr 1.6fr 4.2fr;
    grid-template-areas: ". a ."
                         "d c b"
                         ". e .";
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 4em;
    align-items: center;
    justify-items: center;
}

.grid_container a {
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.grid_container a:hover {
    transform: scale(1.05);
}

.grid_container a:link {
    text-align: center;
    color: #162636;
    background-color: #FFFDE8;
    padding: 1em;
    border-radius: 30px;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}

.grid_container a:visited {
    text-align: center;
    color: #162636;
    background-color: #E36600;
    padding: 1em;
    border-radius: 30px;
}

#uni {
    background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0, 0, 0, 1)), url(css_images/universita.jpg);
    background-size: cover;
    min-height: 200px;
    background-position: left;
    background-repeat: no-repeat;
    text-shadow: 4px 0px 6px rgba(0,0,0,0.69);
}

#lav {
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0, 0, 0, 0.5)), url(css_images/lavoro.jpg);
    background-size: cover;
    min-height: 200px;
    background-position: right;
    background-repeat: no-repeat;
    text-shadow: 4px 0px 6px rgba(0,0,0,0.69);
}

#ris_int {
    background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0, 0, 0, 1)), url(css_images/risorse_interne.jpg);
    background-size: cover;
    min-height: 200px;
    background-position: left;
    background-repeat: no-repeat;
    text-shadow: 4px 0px 6px rgba(0,0,0,0.69);
}

#ris_est {
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0, 0, 0, 0.5)), url(css_images/risorse_esterne.jpg);
    background-size: cover;
    min-height: 200px;
    background-position: right;
    background-repeat: no-repeat;
    text-shadow: 4px 0px 6px rgba(0,0,0,0.69);
}

.block_one {
    text-align: right;
    margin: 1% 15% 2% 15%;
    padding: 2em 2em 2em 30%;
    font-size: 0.9em;
    color: #FFFFFF;
    border-radius: 10px;
}

.block_one .link {
    font-variant: small-caps;
    margin-top: 2em;
    text-shadow: none;
}

.block_one a {
    text-decoration: none;
}

.block_one a:link {
    color: #162636;
    background-color: #FFFDE8;
    padding: 1em;
    border-radius: 30px;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}

.block_one a:visited {
    color: #162636;
    background-color: #E36600;
    padding: 1em;
    border-radius: 30px;
    box-shadow: inset 0 0 10px #f8a100;
}

.block_one > dt {
    font-variant: small-caps;
    font-size: 1.4em;
    line-height: 1.5em;
}

.block_two {
    text-align: left;
    margin: 1% 15% 2% 15%;
    padding: 2em 30% 2em 2em;
    font-size: 0.9em;
    color: #FFFFFF;
    border-radius: 10px;
}

.block_two .link {
    font-variant: small-caps;
    margin-top: 2em;
    text-shadow: none;
}

.block_two a {
    text-decoration: none;
}

.block_two a:link {
    color: #162636;
    background-color: #FFFDE8;
    padding: 1em;
    border-radius: 30px;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}

.block_two a:visited {
    color: #162636;
    background-color: #E36600;
    padding: 1em;
    border-radius: 30px;
}

.block_two > dt {
    font-variant: small-caps;
    font-size: 1.4em;
    line-height: 1.5em;
}

.block_two ul {
    padding-left: 2em;
}

/*
================
ESPLORA CORSI
================
*/

#title {
    color: #FFFFFF;
    background: var(--tittlebg) url(css_images/percorso.jpg) no-repeat;
    background-size: cover;
    background-position: center;
   /* padding: 1em;*/
}

.area_disciplinare {
    display: flex;
    align-items: stretch;
    margin: 0% 5% 1.5% 5%;
    flex-wrap: wrap;
}

.area {
    flex-grow: 1;
    flex-basis: 15%;
    background: #FFFDE8;
    padding: 1em;
    border: 2px solid #f0ecc8;
    margin: 1em;
    text-align: center;
    line-height: 2em;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.25);
}

.area a:link {
    color: #FFFFFF;
    background-color: #000000;
    background-clip: content-box;
    text-decoration: none;
}

.area a:visited {
    color: #D67200;
}

.area p {
    background: radial-gradient(circle, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5) 100%);
    background-clip: content-box;
}

.area dt {
    font-size: 1.5em;
}

.area dd {
    font-family: Monospace;
    font-size: 1.3em;
}

#stem {
    background: url('css_images/stem.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 1.5em;
    transition: all .2s ease-in-out;
    font-size: 1.5em;
}

#stem p {
    padding: 5em 1em 5em 1em;
}

#stem:hover {
    transform: scale(0.95);
}

#sanita {
    display: inline-block;
    background: url('css_images/sanitaria.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 1.5em;
    transition: all .2s ease-in-out;
}

#sanita p {
    padding: 5em 1em 5em 1em;
}

#sanita:hover {
    transform: scale(0.95);
}

#arte {
    background: url('css_images/arte.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 1.5em;
    transition: all .2s ease-in-out;
}

#arte p {
    padding: 5em 1em 5em 1em;
}

#arte:hover {
    transform: scale(0.95);
}

#economia {
    background: url('css_images/economia.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 1.5em;
    transition: all .2s ease-in-out;
}

#economia p {
    padding: 5em 1em 5em 1em;
}

#economia:hover {
    transform: scale(0.95);
}

/*
================
GRUPPI DISCIPLINARI
================
*/

#gruppo {
    color: #FFFFFF;
    background-color: #0D5D70;
    padding: 1.3em;
    margin: 2% 40% 2% 10%;
    margin-bottom: 1.5em;
    line-height: 1.5em;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.26);
}

/*
================
OBIETTIVO LAVORO
================
*/

#job{
    background: var(--tittlebg) url(css_images/job.jpg) no-repeat bottom;
    background-size: cover;
}

#external_resources{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

#external_resources li {
    border-radius: 10px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.25);
    margin: 1.5em; 
    padding: 1.5em; 
    border-radius: 5px; 
    flex: 1 1 200px; 
    /*transition: all .2s ease-in-out;*/
}
/*
#external_resources li:hover {
    transform: scale(1.02);
}
*/

#external_resources p{
    font-size: 0.8em;
    margin: 5% 0% 10% 0%;
    color: #162636;

}

#external_resources h3{
    font-size: 1.5em;
    color: #0D5D70;
}

img[src="images/almalaurea.png"]{
    margin-bottom: 2em;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

img[src="images/atlanteProfessioni.svg"]{
    margin-bottom: 2em;
    width: 92%;
    height: auto;
    border-radius: 10px;
}

#external_resources a{
    font-size: 1.5em;
}

/*
================
LA SCELTA GIUSTA PER TE
================
*/

#int_res{
    background: var(--tittlebg) url(css_images/int_res.jpg) no-repeat bottom;
    background-size: cover;
}

/*
================
UNIVERSITA' E INCLUSIONE
================
*/
#uni_inc{
    background: var(--tittlebg) url(css_images/inc.jpg) no-repeat bottom;
    background-size: cover;
}

/*
================
FOOTER
================
*/
footer {
    background-color: var(--breadcolor);
    color: #FFFFFF;
    text-align: center;
    padding: 1.0em;  
    border: 1px solid var(--contentxtcolor);
}

footer a {
    color: var(--linkcolor);
}

footer a:visited {
    color: var(--visitedcolor);
}