* {
    padding: 0em;
    margin: 0em;
}

:root {
    --headerbg: #FFFDE8;
    --menulink: #0D5D70;
    --menulinkbg: #FFFEF4;
    --menulinkvisited: #162636;
    --menulinkvisitedbg: #D67200;
    --menulinkhover: white;
    --menulinkhoverbg: #0D5D70;

    --breadcolor: #162636;

    --bgcolor: #FFFFFF;

    --txtcolor: #000000;
    --contentbgcolor: ;
    --contentcolor: ;
    --linkcolor: ;
    --visitedcolor: #E36600;
    --blocks: #548E9C;
}

html,body{
    font-size: 100%; /* Lascio libertà all'utente*/
    font-family: "Verdana",sans-serif;
    line-height: 1.5em;
    margin:auto;
    background-color: var(--bgcolor);
    color:var(--txtcolor);
}
/*
body {
    max-width: 1200px;
}
*/

/* Rimuovo dalla vista gli aiuti alla navigazione*/
.skip {
    position: absolute; /* per evitare gli spazi */
    text-indent:-999em;
}

/*
================
HEADER
================
*/

header {
    color: var(--txtcolor);
    text-align: left;
    padding: 1em;
    padding-top: 0.7em;
    padding-bottom: 2em;
    border: 1px;
    background-color: var(--headerbg); 
}


/*
================
BREADCRUMB
================
*/

#breadcrumb {
    background-color: var(--breadcolor);
    color: #FFFFFF;
    font-size: 1.1em;
    padding: 0.8em 0em 0.8em 1em;
    margin-bottom: 1em;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

#breadcrumb a:visited{
    color: var(--visitedcolor);
}

/*
================
MENU
================
*/

header > ul{
    list-style: none;   
}

#menu {
    font-size: 1.1em;
    background-color: var(--headerbg);
}

#menu a:link{
    text-decoration: none;
    color: var(--menulink);
    background-color: var(--menulinkbg);
} 

#menu a:visited {
    background-color: var(--menulinkvisitedbg);
    color: var(--menulinkvisited);
}

#menu a:hover {
    background-color: var(--menulinkhoverbg);
    color: var(--menulinkhover);
}

#menu>ul>li>a:link, #menu>ul>li>a:visited, #menu>ul>li>a:hover { /*impostazioni specifiche per primo livello del menù*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: -5px -5px 5px rgba(22, 38, 54, 0.25);
    padding: 0.75em;
    padding-bottom: 0.95em;
}

/*Creo Dropdown per il sotto menù*/

#menu li {
    display: inline-block;   
}

.sottomenu {
    position: relative;
}

.sottomenu-content { /* Nascosto */
    position: absolute;
    text-indent: -99999em; /*uso text-indent per screen reader*/
    background-color: var(--headerbg);
    margin: 0.8em 0em;
    z-index: 1;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
}
.sottomenu-content a{
    display: block;
    width: 12em;
    padding: 0.5em;
    border-top: #162636 0.5px solid;
}

.sottomenu:hover .sottomenu-content, li:focus-within .sottomenu-content { /* Mostra al passaggio del mouse o al tab da tastiera*/
    text-indent: 0em;
}

/* Pagina corrente e sezione con sottomenù*/

#currentlink {
    font-size: 1.2em;
    padding: 0.8em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--breadcolor);
    color: #FFFDE8;
}

#currentOverLink {
    font-size: 1.2em;
    padding: 0.8em 0em;
}


#visible-sottomenu {
    position: relative;
    z-index: 1;
    background: #162636; /* se browser non supporta linear-gradient*/
    background: linear-gradient(to bottom, #3a7b8b, #162636);
}

#visible-sottomenu ul{
    padding: 2em;
    margin-left: 15%;
    
}
#visible-sottomenu li{
    display: inline;
    padding-right: 1.2em;
    font-size: 1.1em;
}

#visible-sottomenu a {
    text-decoration: none;
}

#visible-sottomenu a:link{
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: -5px -5px 3px rgba(0, 0, 0, 0.25);
    border: #FFFEF4 0.2px solid;
    color:#FFFDE8;
}

#visible-sottomenu a:visited{
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: -5px -5px 3px rgba(0, 0, 0, 0.25);
    border: #E36600 0.2px solid;
    color:#E36600;
}

#currentSubLink {
    padding: 0.5em;
    font-size: 1.5em;
    color: #FFFEF4;
    box-shadow: inset 5px 5px 10px rgba(243, 237, 237, 0.25);
    border-radius: 5px;
}



/*
================
GLOSSARIO
================
*/

/*
================
CONTENUTO
================
*/

main h1{
    margin-bottom: 1.5%;
    max-width: 1024px;
    font-size: 3.3em;
    line-height: 1.5em;
    padding-left: 10%;
    padding-top: 2%;
    padding-right: 25%;
    padding-bottom: 2%;
}

section {
    padding: 2% 25% 2% 10%;
}

/*
================
HOME
================
*/

#intro {
    background: #0D5D70 url(css_images/faro_3.jpg) 85% no-repeat;
    background-size: cover;
    padding-left: 10%;
    padding-top: 2%;
    padding-right: 5%;
    padding-bottom: 2%;
}

#intro h1{
    color: #FFFFFF;
    padding: 0%;
}

#intro_text { 
    background-image: linear-gradient(to right, rgba(13,93,112,0.8), rgba(13,93,112,0.5));
    margin-right: 20%;
    margin-left: -1.5em;
    padding: 1.5em;    
    border-radius: 10px;

    color: #FFFFFF;
    font-size: 0.9em;
}

#content > h2 {
    text-align: center;
    line-height: 1.4em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2em;
}

#item1 {
    grid-area: a;
}

#item2 {
    grid-area: b;
}

#item3 {
    grid-area: c;
}

#item4 {
    grid-area: d;
}

#item5 {
    grid-area: e;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(5, 18%);
    grid-template-areas: ". . a . ."
                         ". d c b ."
                         ". . e . .";
    grid-gap: 2%;
    align-items: center;
    justify-items: center;
}

#info {
    text-align: left;
    padding: 0em 3em 2em 3em;
}

#uni {
    font-size: 1.3em;
}

#first_bg {
    background-image: url(css_images/universita.jpg);
    background-size: 30%;
    min-height: 200px;
    background-position: left;
    background-repeat: no-repeat;
}

#second_bg {
    background-image: url(css_images/lavoro.jpg);
    background-size: 30%;
    min-height: 200px;
    background-position: right;
    background-repeat: no-repeat;
}

#third_bg {
    background-image: url(css_images/risorse_interne.jpg);
    background-size: 30%;
    min-height: 200px;
    background-position: left;
    background-repeat: no-repeat;
}

#fourth_bg {
    background-image: url(css_images/risorse_esterne.jpg);
    background-size: 30%;
    min-height: 200px;
    background-position: right;
    background-repeat: no-repeat;
}

#lav {
    font-size: 1.3em;
}

#ris_int {
    font-size: 1.3em;
}

#ris_est {
    font-size: 1.3em;
}

.block_one {
    background: var(--blocks);
    margin: 1% 5% 2% 5%;
    padding: 2em 2em 2em 30%; 
    font-size: 0.9em;
}

.block_two {
    background: #548E9C;
    margin: 1% 5% 2% 5%;
    padding: 2em 30% 2em 2em;
    font-size: 0.9em;
}

.block_one .link {
    text-align: right;
}

.block_two .link {
    text-align: right;
}

.block_two ul {
    padding-left: 2em;
}

/*
================
ESPLORA CORSI
================
*/

.area {
    background: #548E9C;
    margin: 1% 5% 2% 5%;
    padding: 2em 6em 2em 2em;
    font-size: 0.9em;
    font-size: 1.3em;
    line-height: 2em;
}


/*
================
OBIETTIVO LAVORO
================
*/

#job{
    background-color: #548E9C;
    color: #FFFFFF;
    
}

/*
================
LA SCELTA GIUSTA PER TE
================
*/

/*
================
UNIVERSITA' E INCLUSIONE
================
*/


/*
================
FOOTER
================
*/
footer {
    background-color: var(--breadcolor);
    color: #FFFFFF;
    text-align: center;
    padding: 1.0em;  
    border: 1px solid var(--contentxtcolor);
}

footer a {
    color: var(--linkcolor);
}

footer a:visited {
    color: var(--visitedcolor);
}